@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "TT Interphases W05 Medium";
  src: url("//fast.fonts.net/dv2/14/cc78796e-0fb0-4736-a202-fccfcc91a49e.woff2") format("woff2"),
       url("//fast.fonts.net/dv2/3/6ea5645d-7fd4-46ec-9202-4eb78b454858.woff") format("woff");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "TT Interphases W05 Medium", sans-serif;
}

